.hamburger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #0077be;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.hamburger-menu.open .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger-menu.open .bar2 {
  opacity: 0;
}

.hamburger-menu.open .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
