.ship {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f0f8ff;
  border-radius: 5px;
  border: 1px solid #0077be;
  color: #000000;
}

.ship-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.ship-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.ship-name {
  font-weight: bold;
}

.health-bar {
  width: 100%;
  height: 10px;
  background-color: #add8e6;
  border-radius: 5px;
  overflow: hidden;
}

.health-bar-fill {
  height: 100%;
  background-color: #0077be;
  transition: width 0.5s ease-in-out;
}
