body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: transparent;
  color: #000000;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}